<footer class="page-footer blue-grey darken-4 blue-grey-text text-lighten-5">
    <div class="footer-copyright">
        <div class="container">
            <ul>
                <li>
                    <a class="grey-text text-lighten-4" href="http://tr.global.ua">{{"Услуги по договору"|
                        translate}}</a>
                </li>
                <li>
                    <a class="grey-text text-lighten-4"
                       [routerLink]="'/privacy-policy' | localize:translate.currentLang">{{"Политика
                        конфиденциальности"| translate}}</a>
                </li>
                <li>
                    <a class="grey-text text-lighten-4" [routerLink]="'/public-offer' | localize:translate.currentLang">{{"Публичная
                        оферта"| translate}}</a>
                </li>
                <li>
                    <a class="grey-text text-lighten-4" [routerLink]="'/contacts' | localize:translate.currentLang">{{"Контакты"|
                        translate}}</a>
                </li>
                <li class="right">
                    <a class="grey-text text-lighten-4" href="https://www.facebook.com/TRCommunication.kiev/"><img
                            src="/assets/facebook-icon.png"
                            alt="Facebook"></a>
                </li>


            </ul>
            <div class="clearfix"></div>
            <!--<div class="clearfix"></div>-->
            <hr>
            © 2018 Global.ua
            <a class="right white-text" href="https://www.linkedin.com/in/soko1off/" target="_blank"><i
                    class="material-icons tiny">open_in_new</i> Developed by Aleksandr Sokolov</a>
        </div>
    </div>
</footer>
