<div class="index-block">
    <div class="container">
        <div class="row">
            <div class="col l8 offset-l4 s12">
                <div class="card-panel orange white-text">
                    <h1>{{"Интернет-телефония с фиксированным номером"| translate}}</h1>
                    <p>{{"В какой бы стране вы ни были, вы всегда на связи для родителей, родных и друзей"|
                        translate}}</p>
                </div>
                <div class="card-panel transparent-06 white-text">
                    <ul class="browser-default">
                        <li>
                            {{"Звонки на стационарные телефоны в Украине и за рубежом - дешево, качественно, комфортно"|
                            translate}}
                        </li>
                        <li>
                            {{"Ваш интернет-номер всегда останется с вами - полная независимость от SIM-карты"|
                            translate}}
                        </li>
                        <li>
                            {{"Качество интернет-связи ничем не уступает качеству мобильной связи"| translate}}
                        </li>
                        <li>
                            {{"Удобно, особенно если ваши абоненты не пользуются интернет-мессенджерами"| translate}}
                        </li>
                        <li>
                            {{"Позвоните родителям прямо на стационарный телефон, тарифы от 50 коп."| translate}}
                        </li>
                    </ul>
                    <a href="https://play.google.com/store/apps/details?id=com.globalua"
                       class="waves-effect waves-light btn right">{{"Скачать"| translate}} <i
                            class="material-icons right">chevron_right</i></a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
