nav {
  height: 90px;
  line-height: 80px;
  border-bottom-style: solid;
  border-bottom-width: 10px;
  i {
    line-height: 80px;
  }
}

.brand-logo {
  img {
    vertical-align: middle;
  }
  white-space: nowrap;
}
