hr {
  border: none; /* Убираем границу для браузера Firefox */
  color: #ececec; /* Цвет линии для остальных браузеров */
  background-color: #ececec; /* Цвет линии для браузера Firefox и Opera */
  height: 1px; /* Толщина линии */
}

h2 {
  a {
    color: #ff9800;
  }
}