<global-first-block></global-first-block>
<div class="container">
    <div class="row">
        <div class="col l8 s12">
            <h2>{{"Звоните с любого устройства"| translate}}</h2>
            <p>{{"Используйте ваш компьютер, смартфон, планшет, стационарный телефон или SIP-телефон для совершения
                звонков."| translate}}</p>
            <p class="center"><a href="http://tr.global.ua" class="waves-effect waves-light btn light-blue darken-4">{{"Подробнее"|
                translate}} <i class="material-icons right">chevron_right</i></a></p>
            <div class="clearfix"></div>
        </div>
        <div class="col l4 s12">
            <blockquote class="bordered">
                <p class="flow-text">{{"Позвони домой!"| translate}}</p>
                <p>{{"Попробуй раз, пользуйся всю жизнь."| translate}}</p>
            </blockquote>
        </div>
    </div>
    <hr>
    <div class="row flex">
        <h2 class="center">{{"Когда следует выбрать Global.ua?"| translate}}</h2>
        <p class="flow-text center">{{"Если хотя бы часть этих критериев подходит вам по телефонной коммуникации, вы
            потенциальный клиент Global.ua:"| translate}}</p>
        <div class="col l4 s6 center-align">
            <p>
                <img src="assets/global-icns/globe-icn.svg" alt="" class="svg responsive-img">
            </p>
            <p>
                <strong>{{"Часто бываете за границей"| translate}}</strong>
            </p>
        </div>
        <div class="col l4 s6 center-align">
            <p>
                <img src="assets/global-icns/phone-icn.svg" alt="" class="svg responsive-img">
            </p>
            <p>
                <strong>{{"Не покупаете SIM-карту в каждой стране"| translate}}</strong>
            </p>
        </div>
        <div class="col l4 s6 center-align">
            <p>
                <img src="assets/global-icns/add-icn.svg" alt="" class="svg responsive-img">
            </p>
            <p>
                <strong>{{"Заинтересованы в том, чтобы ваши родные и друзья всегда дозванивались к вам, но не готовы
                    тратиться на роуминг"| translate}}</strong>
            </p>
        </div>
        <div class="col l4 s6 center-align">
            <p>
                <img src="assets/global-icns/friends0icn.svg" alt="" class="svg responsive-img">
            </p>
            <p>
                <strong>{{"Общаетесь с теми, кто не пользуется WhatsApp, Telegram, Viber, Skype и т.д"|
                    translate}}</strong>
            </p>
        </div>
        <div class="col l4 s6 center-align">
            <p>
                <img src="assets/global-icns/connection-icn.svg" alt="" class="svg responsive-img">
            </p>
            <p>
                <strong>{{"Имеете постоянный доступ к WiFi или удобный интернет-пакет и телефон все время в онлайне"|
                    translate}}</strong>
            </p>
        </div>
        <div class="col l4 s6 center-align">
            <p>
                <img src="assets/global-icns/flag-icn.svg" alt="" class="svg responsive-img">
            </p>
            <p>
                <strong>{{""| translate}}</strong>
            </p>
        </div>
    </div>
</div>

<div class="blockquote-block">
    <div class="container">
        <div class="row">
            <div class="col l8 offset-l2 s12">
                <blockquote class="bordered">
                    <p class="flow-text">
                        <i>
                            {{"Я часто путешествую между странами. Принимать звонки в роуминге затратно, а мои дети
                            звонят мне в течение дня несколько раз, делятся впечатлениями. Благо, что с Global.ua у меня
                            есть фиксированный украинский номер, который доступен всегда, когда мой смартфон в онлайне"|
                            translate}}
                        </i>
                    </p>
                </blockquote>
                <div class="center"><a href="https://play.google.com/store/apps/details?id=com.globalua"
                                       class="waves-effect waves-light btn">{{"Скачать"| translate}} <i
                        class="material-icons right">chevron_right</i></a></div>
            </div>
        </div>
    </div>
</div>
